@font-face {
  font-family: "Noto Sans";
  font-weight: normal;
  font-style: normal;
  src: url("../public/fonts/Noto_Sans/NotoSans-Black.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans Medium";
  font-weight: lighter;
  font-style: normal;
  src: url("../public/fonts/Noto_Sans/NotoSans-Medium.ttf") format("truetype");
  font-display: swap;
}

body {
  margin: 0;
  font-family: "Noto Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}